* {
  padding: 0;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  cursor: default;
}

.wrapper {
  padding: 20px;
}

.block {
  margin: 20px 0;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}
.block p {
  font-size: 55px;
}
.block p span {
  font-size: 20px;
  padding: 3px 15px;
}

#p5 {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
