
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}
body {
  font-family: sans-serif;
}
body,canvas,html{
      margin:0;
      padding:0;
      border:0;
      display: block;
      overflow-x:hidden;
      overflow-y:hidden;
      width:100%;
      height:100%;
      background: #151515;
}
.wrapper {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

ul {
	list-style: none;
	text-align: center;
}

#options {
	position: absolute;
	right: 50px;
	top: 50px;

	color: #555;
	line-height: 1.5em;
}

#views {
	border-bottom: 1px solid #ddd;
	padding-bottom: 0.8em;
}

#direction {
	padding-top: 0.8em;
}

.active {
	color: #ddd;
}

li {
	cursor: pointer;
}

#link {
	position: absolute;
	bottom: 12px;
	right: 12px;
	text-align: right;
	text-decoration: none;
	text-decoration: line-through;
}

a {
	display:block;
	color: #555;
	font-weight: lighter;
	font-size: 1.2em;
}
a:first-child {
	color: #ddd;
	text-decoration: none;
	margin-bottom: 0.5em;
}

#start-drawing {
	height: 400px;
	width: 400px;
	max-width: 320px;
	max-height: 320px;
	border-radius: 50%;
	border: 2px dashed #555;
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
	pointer-events: none;
}

h1 {
	width: 100%;
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);

	text-align: center;
	color: #ddd;
	font-weight: 100;
	font-size: 2em;
}

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0; }
}

@media screen and (max-width:768px) {
	#options {
		top: 0;
		left: 0;
		right: 0;
	}
	#views,
	#direction {
		position: absolute;
		display: inline-block;
		top: 12px;
	}
	#views {
		left: 12px;
		border: none;
	}
	#views .option {
		text-align: left;
	}
	#direction {
		right: 12px;
		padding-top: 0;
	}
	#direction .option {
		text-align: right;
	}
	#links {
		bottom: 12px;
		right: 12px;
		text-align: right;
	}
	a:first-child {
		margin-bottom: 0;
	}
}